<!DOCTYPE html>

<html lang="en" ng-app="trojanpreneurapp">
    <head>
        <!-- BOOTSTRAP -->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">


        <!-- MATERIAL DESIGN -->
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <meta name="viewport" content="initial-scale=1" />


        <!-- CUSTOM -->
        <title>Home Page</title>
        <link href="css/carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="mohio.css">

    </head>

    <body layout="column" ng-controller="AppCtrl">        

        <md-content>
            <md-toolbar id="nav" layout="row">
                <div class="md-toolbar-tools">
                    <md-button>
                        <a href="index.html">
                            <span class="nav-accent" style="margin-right: 20px;">Mohio</span>
                        </a>
                    </md-button>

                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoUsers()">
                        Entrepreneurs
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoOrgs()">
                        Organizations
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoIdeas()">
                        Ideas
                    </md-button>
                    <span hide show-gt-md>|</span>
                    <md-button hide show-gt-md class=" nav-items" ng-click="gotoEvents()">
                        Events
                    </md-button>

                    <span flex></span>
                    <md-button class="login" ng-click="login()">
                        <span class="nav-accent">{{loginText}}</span>
                    </md-button>
                </div>
            </md-toolbar>


            <!-- DIRECTORIES -->
            <div id="directories" class="section">
                <h1>SEE OUR</h1>
                <md-button ng-click="gotoUsers()" class="md-raised md-primary directory-button">
                    Entrepreneurs
                </md-button>
                <md-button ng-click="gotoOrgs()" class="md-raised md-primary directory-button">
                    Organizations
                </md-button>
                <md-button ng-click="gotoIdeas()" class="md-raised md-primary directory-button">
                    Ideas
                </md-button>
                <md-button ng-click="gotoEvents()" class="md-raised md-primary directory-button">
                    Events
                </md-button>

            </div>


            <!-- CONTACT AND ABOUT -->
            <div id="about" class="section">
                <h1>INFORMATION</h1>
                Learn about <a href="about.html">Trojanpreneur</a>
                <br>
                Contact Us at <a href="mailto:trojanpreneur@gmail.com">trojanpreneur@gmail.com</a>
                <br>
            </div>


        </md-content>

        <!-- Angular Material Dependencies -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>

        <!-- SCRIPTS-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script src="index.js"></script>

    </body>
</html>